@charset "UTF-8";
/* CSS Document */

body{
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}

*{
  box-sizing: border-box;
  margin: 0;
}

.navbar{
  position: relative;
  top: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  height: 45px;
  overflow: hidden;
  opacity: 0.8;
}

.navbar_items{
  padding: 0px 30px;
}

.nav-item{
  margin: 0px 27px;
  padding: 0px 10px;
  height: 46px;
  margin-top: 0px;
  display: inline-block;
  z-index: 1;
  position: relative;
  opacity: 0.8;
  transition: 0.4s;
}

@media only screen and (max-width: 1160px){
  .nav-item{
    margin: 0px 20px;
    transition: 0.4s;
  }
}

@media only screen and (max-width: 1000px){
  .nav-item{
    margin: 0px 15px;
    transition: 0.4s;
  }
}

.nav-item:hover{
  opacity: 0.95;
}

.navbar_image{
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.nav_link{
  text-decoration: none;
  font-size: 14px;
  font-weight: 350;
  color: #f5f5f7;
  height: 44px;
  margin-top: auto;
  margin-bottom: auto;
}

.buy_link{
  text-decoration: none;
  color: #2190ff;
}

.buy_link:hover{
  text-decoration: underline;
  color: #2190ff;
}

#top_content{
  margin-bottom:140px;
}

#top_content_header{
  padding-top:90px;
  font-size:47px;
  font-weight:450;
  letter-spacing: -1px;
  line-height: 1.1;
  color:#262626;
}

.search_bar{
  margin: 55px auto;
  height: 55px;
  background-color: white;
  width: 490px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.search_bar_content{
  color: #858585;
  font-size: 17px;
  float: left;
  font-weight: 300;
  padding: 0px 10px;
  margin-top: 18px;
}

.footer{
  background-color:#f0f0f2;
  padding: 20px 230px;
}

@media only screen and (max-width: 1160px){
  .footer{
    padding: 20px 150px;
    transition: 0.4s;
  }
}

@media only screen and (max-width: 1000px){
  .footer{
    padding: 20px 100px;
    transition: 0.4s;
  }
}

@media only screen and (max-width: 800px){
  .footer{
    padding: 20px 50px;
    transition: 0.4s;
  }
}

@media only screen and (max-width: 600px){
  .footer{
    padding: 20px;
    transition: 0.4s;
  }
}

.footer_content{
  color: #999999;
  font-size: 11.7px;
  line-height: 130%;
  letter-spacing: 0.4px;
}

@media only screen and (max-width: 800px){
  .footer_content{
    font-size: 10.5px;
    transition: 0.4s;
  }
}

@media only screen and (max-width: 600px){
  .footer_content{
    font-size: 9.7px;
    transition: 0.4s;
  }
}

.dictionery_footer_column{
  flex: 25%;
  line-height: 220%;
  color: #6e6e6e;
}

.dictionery_footer_row{
  display: flex;
}

.dictionery_footer_header{
  color: #474747;
  font-weight: 500;
}

.dictionery_footer_column2{
  float: left;
}

.dictionery_footer_row2{
  padding: 10px 0px;
}

.dictionery_footer_row2::after{
  content: "";
  display: table;
  clear: both;
}

.dictionery_footer_left{
  width: 30.5%;
}

.dictionery_footer_middle{
  width: 57%;
}

.dictionery_footer_right{
  float:right;
}
